<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detection</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <!-- font-family: 'PT Sans', sans-serif; -->
</head>

<body>

    <nav id="navbar">
        <!-- <div id="logo">
            <img src="logo.jpg" alt="FakeNewsDetection">
        </div> -->

        <ul>
            <li class="item"> <a href="#home" class="active">Home </a> </li>
            <li class="item"> <a href="#fakenews">Introduction </a> </li>
            <li class="item"> <a href="#login">Detection </a> </li>
            <li class="item"> <a href="#stats">Statistics </a> </li>
            <li class="item"> <a href="#about_us">About us </a> </li>
            <li class="item"> <a href="#contact_us">Contact us</a> </li>
        </ul>

    </nav>

    <section id="home">
        <h1 class="h-primary">Welcome to Our <br> Fake  News Detection <br> Website</h1>

    </section>
    <section class="fakenews-container">
        <br>
        <div id="fakenews">
            <br><br><br>
            <h1 class="h-secondary center">Fake News</h1>
            <div class="box">
                <h2 class="h-secondary center">What is a Fake News??</h2>
                <img src="{{url_for('static', filename='Assets/Images/hacker.jpg')}}" alt="">
                <p class="center">Fake news is any false or misleading information presented as news and communicated in
                    formats spanning spoken, written, printed, electronic, and digital communication.
                    Fake news can reduce the impact of real news by competing with it.
                    It also has the potential to undermine trust in serious media coverage.
                    Fake news brainwashes people overtime.
                </p>
            </div>
            <div class="box">
                <h2 class="h-secondary center">Impact of Fake News</h2>
                <img src="{{url_for('static', filename='Assets/Images/guy.jpg')}}" alt="">
                <p class="center">
                <ul>
                    <li>Financial impacts or impacts on our health</li>
                    <li>Fear</li>
                    <li>Racist ideas</li>
                    <li>Bullying and violence against innocent people</li>
                    <li>Democratic impacts </li>
                </ul>

                </p>
            </div>
        </div>
        <!-- </section>
<section class="detection">
    <form action="backened.php">
        Input the url of article :
        <br>
        <textarea name="url" placeholder="url of news"  cols="30" rows="10"></textarea>
    </form> -->
    </section>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    

        <section id=login>
            <!-- <h1 class="h-primary">Detection</h1> -->
            

            
            
            <h1 >Detection</h1>
            
            <div class="login-box ">
                <div class="textbox">
                    <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
                    <input type="url" placeholder="Provide url here" name="" value="">
                    
                </div>
                <button class="btn" type="submit" value="Submit">Submit</button>
                <h2>OR</h2>
            </div>
            <div class="login-box">
                <div class="textbox">
                    <!-- <i class="fa fa-lock" aria-hidden="true"></i> -->
                    <input type="text" placeholder="Content of Article" name="" value="">
                    
                </div>
                <button class="btn" type="submit" value="Submit">Submit</button>
            </div>
        </section>
        <section id="stats">
            <h1>Statistics</h1>
            <div class="statistics">
             <div class="stats_row">
                 <div class="graph left"><img src="Graphs for Statistics/Share of adults who have witnessed fake news on television versus print media worldwide in 2019.jpg" alt=""></div>
                 <div class="graph right"><img src="Graphs for Statistics/Level of difficulty differentiating between true and false information online among consumers in different countries 2020.jpg" alt=""></div>
                 
                </div>
                <div class="stats_row">
                    <div class="graph left"><img src="Graphs for Statistics/Main source of information about news and current affairs in 2020 (1).jpg" alt=""></div>
                    <div class="graph right"><img src="Graphs for Statistics/Main source of information about news and current affairs in different countries 2020.jpg" alt=""></div>
                </div>
                <div class="stats_row">
                    <div class="graph left"><img src="Graphs for Statistics/Main source of information about news and current affairs in selected countries worldwide as of June 2020.jpg" alt=""></div>
                    <div class="graph right"><img src="Graphs for Statistics/Share of adults who have witnessed fake news on print media countruwise in 2019.png" alt=""></div>
                    
                </div>
                <div class="stats_row">
                    <div class="graph left"><img src="Graphs for Statistics/Level of difficulty differentiating between true and false information online among consumers in 2020.jpg" alt=""></div>
                    <div class="graph right"><img src="Graphs for Statistics/Share of adults who have witnessed fake news on television countruwise in 2019.jpg" alt=""></div>
             </div>
            </div>
        </section>
    
        <section id="about_us">
            <h1>About Us</h1>
            <div class="about">
                <div class="row">
                    
                <!-- Radha  -->
                <div class="member">
                    <img src="Assets/radha.jpg" alt="">
                    <h2>Radha Singh</h2>
                    <p></p>
                    <div class="links">

                        <a href="rsradhasingh12@gmail.com"><img src="Assets/mail.svg" alt=""></a>
                        <a href="https://gitHub.com/"><img src="Assets/github.svg" alt=""></a>
                        <a href=""><img src="Assets/linkedin.svg" alt=""></a>
                        <a href="https://instagram.com/"><img src="Assets/instagram.svg" alt=""></a>
                    </div>
                </div>

                <!-- Pratyaksha  -->
                <div class="member">
                    <img src="Assets/pratyaksha.jpeg" alt="">
                    <h2>Pratyaksha Gupta</h2>
                    <p>
                        Your usual introvert, book lover who loves to turn great ideas into reality
                    </p>
                    <div class="links">

                        <a href="pratyakshagupta.jul@gmail.com"><img src="Assets/mail.svg" alt=""></a>
                        <a href="https://gitHub.com/pratyaksha-047"><img src="Assets/github.svg" alt=""></a>
                        <a href="LinkedIn:https://www.linkedin.com/in/pratyakshagupta-047"><img
                                src="Assets/linkedin.svg" alt=""></a>
                        <a href="https://instagram.com/pratyakshagupta.jul"><img src="Assets/instagram.svg" alt=""></a>
                    </div>
                </div>


                <!-- Priya  -->
                <!-- About me - A chaotic explorer wandering in the maze of technology. -->

                <div class="member">
                    <img src="Assets/priya1.jpg" alt="">
                    <h2>Priya Sharma</h2>
                    <p>A chaotic explorer wandering in the maze of technology
                    </p>
                    <div class="links">

                        <a href=""><img src="Assets/mail.svg" alt=""></a>
                        <a href="https://gitHub.com/"><img src="Assets/github.svg" alt=""></a>
                        <a href=""><img src="Assets/linkedin.svg" alt=""></a>
                        <a href="https://instagram.com/"><img src="Assets/instagram.svg" alt=""></a>
                    </div>
                </div>

                <!-- Muskan  -->
                <div class="member">
                    <img src="" alt="">
                    <h2>Muskan Gupta</h2>
                    <p></p>
                    <div class="links">

                        <a href="1218.muskangupta@gmail.com"><img src="Assets/mail.svg" alt=""></a>
                        <a href="https://gitHub.com/1218muskan"><img src="Assets/github.svg" alt=""></a>
                        <a href="https://www.linkedin.com/in/muskan-gupta-a05523204"><img src="Assets/linkedin.svg"
                                alt=""></a>
                        <a href="https://instagram.com/1218.muskan"><img src="Assets/instagram.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="contact_us">
        <div class="contact">
            <h2>Get In Touch</h2>
            <div class="form">
                <input type="text" placeholder="Enter Your Name" name="" value="">
            </div>
                <div class="form">
                    <input type="url" placeholder="Enter Your Phone No." name="" value="">
                </div>
                    <div class="form">
                        <input type="url" placeholder="Enter Your Email Id" name="" value="">
                    </div>
                        <div class="form">
                <input type="text" placeholder="Enter Your Feedback" name="" value="">

            </div>
            <div class="button">
                <button class="bttn" type="submit" value="Submit">Submit</button>
            </div>
        </div>
    </section>

</body>

</html>